.order-div{
    width: 90%;
    margin: auto;
    text-align: left;
    background-color: rgb(158, 21, 188);
    padding:5px;
    margin-top: 4px;
    border-radius: 5px;
    color: white;
    justify-content: space-between;
    display: flex;
    
}

li{
    list-style:none;
}