.table-heading{
    background-color: black;
    color: aliceblue;
    margin-top: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 1rem;
}
  
.form-heading{
    background-color: black;
    color: aliceblue;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 0;
    text-align: center;
  }