.card{
    width:max-content;
    margin: auto;
    border-radius: 10px;
    background-color: beige;
    padding: 1rem;
    margin-top: 1rem;
}

.table{
    display: inline-block;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 33%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

