.tables-div{
  width:80%;
  margin-left: 10%;
  margin-top: 5rem;
  justify-content: space-between;
  display: inline-flex;
}

.table-heading{
  background-color: black;
  color: aliceblue;
  margin-top: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 0;
}